#navigatetotop {
  background: #f7f7f7;
  border: 1px solid #cccccc;
  border-radius: 10px;
  bottom: 20px;
  color: #333333;
  cursor: pointer;
  display: none;
  width: max-content;
  padding: 10px 15px;
  position: fixed;
  right: 20px;
  text-align: center;
  z-index: 10;
}

#navigatetotop:hover {
  background: #eeeeee;
}

#navigatetotop:focus {
  opacity: 0.6;
  outline: none;
}
