#navigatetotop {
  background: url(../sites/default/files/navigate_to_to_images) no-repeat center center;
  border: 0;
  bottom: 20px;
  cursor: pointer;
  display: none;
  height: 70px;
  position: fixed;
  right: 20px;
  text-indent: -9999px;
  width: 70px;
  z-index: 300;
}

#navigatetotop:hover {
  opacity: 0.8;
}

#navigatetotop:focus {
  opacity: 0.6;
  outline: none;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  #navigatetotop {
    background: url(../sites/default/files/navigate_to_to_images) no-repeat center center;
    background-size: 70px 70px;
  }
}
